/**!
 * http://gothub.com/vinorodrigues/wp-ts-socical-links
 */

@import "compass/css3";
@import "compass/utilities";
@import "variables";
@import "buttons";

//* scss-compile-options: --precision 3

fieldset.social-links {
	img {
		vertical-align: middle;
		display: inline-block;
		margin-bottom: 0.2em !important;
	}
}

.social-links {
	// line-height: 1;

	img {
		border: 0;
		margin: 0;
		padding: 0;
	}

	&.sl-c-16 a { margin-bottom: round($sl-16 / 6); }
	&.sl-c-24 a { margin-bottom: round($sl-24 / 6); }
	&.sl-c-32 a { margin-bottom: round($sl-32 / 6); }
	&.sl-c-48 a { margin-bottom: round($sl-48 / 6); }

	&.sl-c-16 a:not(:last-child) { margin-right: round($sl-16 / 6); }
	&.sl-c-24 a:not(:last-child) { margin-right: round($sl-24 / 6); }
	&.sl-c-32 a:not(:last-child) { margin-right: round($sl-32 / 6); }
	&.sl-c-48 a:not(:last-child) { margin-right: round($sl-48 / 6); }

	.sl-16 {
		height: $sl-16;
		min-width: $sl-16;
	}

	.sl-24 {
		height: $sl-24;
		min-width: $sl-24;
	}

	.sl-32 {
		height: $sl-32;
		min-width: $sl-32;
	}

	.sl-48 {
		height: $sl-48;
		min-width: $sl-48;
	}

	.sl-rounded.sl-16 { @include border-radius( round($sl-16 / 6) ); }
	.sl-rounded.sl-24 { @include border-radius( round($sl-24 / 6) ); }
	.sl-rounded.sl-32 { @include border-radius( round($sl-32 / 6) ); }
	.sl-rounded.sl-48 { @include border-radius( round($sl-48 / 6) ); }

	.sl-circle {
		@include border-radius(50%);
	}
}

/**
 * Font-Awesome
 */

@mixin btn-social($color-bg, $color: #fff) {
	background-color: $color-bg;
	@include button-variant($color, $color-bg, rgba(0,0,0,0.2));
}

.social-links {
	.btn {
		// reset buttons
		display: inline-block;
		font-weight: normal;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: initial;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: none;
		padding: 0;
		margin: 0;
		color: inherit;
		background-color: transparent;
		@include border-radius(0);
		border: 1px solid rgba(127,127,127,0.25);

		&.sl-16 {
			font-size: round($sl-16 - ($sl-16-p * 2) - 2px);
			line-height: round($sl-16 - ($sl-16-p * 2) - 2px);
			padding: $sl-16-p round($sl-16-p/2);
			width: $sl-16;
			height: $sl-16;
		}
		&.sl-24 {
			font-size: round($sl-24 - ($sl-24-p * 2) - 2px);
			line-height: round($sl-24 - ($sl-24-p * 2) - 2px);
			padding: $sl-24-p round($sl-24-p/2);
			width: $sl-24;
			height: $sl-24;
		}
		&.sl-32 {
			font-size: round($sl-32 - ($sl-32-p * 2) - 2px);
			line-height: round($sl-32 - ($sl-32-p * 2) - 2px);
			padding: $sl-32-p round($sl-32-p/2);
			width: $sl-32;
			height: $sl-32;
		}
		&.sl-48 {
			font-size: round($sl-48 - ($sl-48-p * 2) - 2px);
			line-height: round($sl-48 - ($sl-48-p * 2) - 2px);
			padding: $sl-48-p round($sl-48-p/2);
			width: $sl-48;
			height: $sl-48;
		}
	}

	.btn-youtube     { @include btn-social(#eb402f); }
	.btn-facebook    { @include btn-social(#275290); }
	.btn-twitter     { @include btn-social(#55acee); }  // #2da6ed
	.btn-linkedin    { @include btn-social(#007bb6); }  // #005c94
	.btn-pinterest   { @include btn-social(#cb2027); }  // #cd1b13
	.btn-google-plus { @include btn-social(#de3f2b); }
	.btn-tumblr      { @include btn-social(#446378); }
	.btn-instagram   { @include btn-social(#38668a, #e0e8ef); }  // #275c85
	.btn-github      { @include btn-social(#444444); }
	.btn-email       { @include btn-social(#52bcd6); }
	.btn-blog        { @include btn-social(#0c80b1); }
	.btn-rss         { @include btn-social(#ff6f00); }
}
