@import "compass/css3";
@import "compass/utilities";

img.sl-16 {
	width: 16px;
	height: 16px;
}

img.sl-24 {
	width: 24px;
	height: 24px;
}

img.sl-32 {
	width: 32px;
	height: 32px;
}

img.sl-48 {
	width: 48px;
	height: 48px;
}

.social-links {
	.social-link {
		margin-right: 0.33rem;
	}
	.social-link:last-child {
		margin-right: 0;
	}
}

img.sl-rounded {
	@include border-radius(0.3rem);
}

img.sl-circle {
	@include border-radius(50%);
}
